body {
 
  margin-top: 0;
  padding: 0;
  background: url(https://wallpapers-house.com/data/out/9/wallpaper2you_350796.jpg);
  background-size: cover;
  font-family: sans-serif;
  color:white;
  font-size: 1rem;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
.navbar{
  
  padding: .8rem;
  background: rgba(2,2,2,0.2);
  box-shadow:1px 2px 4px orange;
   background-color: #EC3803;
}
.navbar-nav li
{
  padding-right:20px;
  color:#ED553D;
}
.nav-link
{
  font-size: 1.1em !important;
}
.box {
  position: absolute;
  margin: 250px 400px 0px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
  color: white;
}
.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box .register
{
 text-align: left;
 padding-left: 20%;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: orangered;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}
.box input[type="submit"]:hover {
  background-color: darkorange;
}